<div data-role="header">
  <h1>Your Quests for the Day</h1>
</div>


<div data-role="content">
  <ul data-role="listview">
    <% @to_dos.each do |to_do| %>
      <li>
        <%= link_to to_do do %>
          <h1><%= to_do.name %></h1>
          <h1>Priority:  <%= to_do.priority %></h1>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


<div data-role="footer">
  <%= link_to 'New To-Do', new_to_do_path %>
</div>
